# /etc/systemd/system/plex_rename_folders.service
[Unit]
Description=Rename Plex folders if needed
Wants=network-online.target
After=network-online.target mount_plex.service
Requires=mount_plex.service

# Ensure the paths we operate on are mounted/available
RequiresMountsFor=/mnt/plexmedia/PlexMedia
RequiresMountsFor=/mnt/plexmedia/PlexMedia/Movies
RequiresMountsFor=/mnt/plexmedia/PlexMedia/TV\x20Series
ConditionPathIsMountPoint=/mnt/plexmedia/PlexMedia

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/bin/plex_rename_folders.py
StandardOutput=append:/var/log/rename_plex_folders.log
StandardError=append:/var/log/rename_plex_folders.log
RemainAfterExit=true
User=root
Group=root
Environment="PYTHONUNBUFFERED=1" "LANG=C.UTF-8" "LC_ALL=C.UTF-8"

[Install]
WantedBy=multi-user.target
