[Unit]
Description=xTeVe IPTV proxy
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/xteve -config /etc/xteve -port 34400

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
