[Unit]
Description=xTeVe IPTV proxy
After=network-online.target
Wants=network-online.target

[Service]
User=xteve
Group=xteve
WorkingDirectory=/var/lib/xteve
ExecStart=/usr/local/bin/xteve -config /etc/xteve -port 34400

Restart=on-failure
RestartSec=5
RuntimeDirectory=xteve
StateDirectory=xteve
CacheDirectory=xteve
LogsDirectory=xteve

[Install]
WantedBy=multi-user.target
